<!DOCTYPE html>
  <html lang="en">
      <head>
        <title>Myapp</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
      </head>

      <body>
          <div class="container-fluid container-background">
            <div class="container">

              <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                  <%= link_to "Главнвя", root_path, class: 'nav-link active' %>
                </li>
                <li class="nav-item">
                  <%= link_to "О нас", root_path, class: 'nav-link active' %>
                </li>
                <% if user_signed_in? %>
                  <li class="nav-item">
                  <%= link_to "выйти", destroy_user_session_path, class: 'nav-link active' %>
                </li>
                  <% end %>
              </ul>

              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>

              <%= yield %>
            </div>
          </div>
      </body>
  </html>
